<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>

<body>
    <video id="livestream-player" width="80%" controls>
        <source src="http://localhost:8000/streammountpoint.webm" type="video/webm">
        <p>Zure arakatzaileak ez du video tag-a onartzen.</p>

    </video>
    <br>
    <button class="atzera-botoia" onclick="location.href='/index.html'">Atzera</button>

</body>

</html>