<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bideo-erreproduzitzaileak</title>
</head>

<body>
    <article>
        <h1>Select a Video Player</h1>
        <p>
            Two different video players are available. The first one uses the HTML5 video tag.
            The second one uses VideoJS, which is a JavaScript framework that makes video playback
            more consistent and customizable across different browsers. It also supports responsive
            design, so the video will adapt to the size of the screen.
        </p>
        <button onclick="location.href='/views/video_test.html'">Watch Video (HTML5 Video Tag)</button>
        <button onclick="location.href='/views/videojs_test.html'">Watch Video (VideoJS)</button>
    </article>
</body>

</html>