<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bideo-erreproduzitzaileak</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>

<body>
    <div class="centered-container">
        <article>
            <h1>Aukeratu bideo-erreproduzitzaile bat</h1>

            <button onclick="location.href='/views/video_test.html'">HTML5 video</button>
            <button onclick="location.href='/views/videojs_test.html'">VideoJS</button>
        </article>
        <button class="atzera-botoia" onclick="location.href='/index.html'">Atzera</button>
</body>

</html>