<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bideo-erreproduzitzaileak</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>

<body>
    <div class="centered-container">
        <article>
            <h1>Aukeratu bideo-erreproduzitzaile bat</h1>
            <hr>
            <section>
                <h3>Webguneen bideo-erreproduzitzaile lehenetsia, sinplea eta azkarra.</h3>
                <button onclick="location.href='/views/video_test.html'">HTML5 video</button>
            </section>
            <hr>
            <section>
                <h3> Kontrol- eta diseinu-aukera gehiago eskaintzen ditu. </h3>
                <button onclick="location.href='/views/videojs_test.html'">VideoJS</button>
            </section>
            <hr>
            <section>
                <h3>Bideo-kontrol bereziak eta Adaptive Bit Rate funtzionalitatea.</h3>
                <button onclick="location.href='/views/DASH-HTML5.html'">HTML5 + DASH</button>
            </section>
            <hr>
        </article>
        <button class="atzera-botoia" onclick="location.href='/index.html'">Atzera</button>
</body>

</html>